*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.flex-container{
    display: flex;
}

a{
    color: white;
}

.button{
    border-radius: 30px;
    padding: 5px 15px;
}

/* header */
header{
    background-color: #255EE9;
}

nav{
    justify-content: space-between;
    padding: 15px 15%;
}

.links, .login{
    line-height: 35px;
}

.links > a{
    margin: 10px;
    padding: 10px;
}

.login{
    color: black;
    background-color: white;
}

header > div{
    color: white;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

h1{
    font-size: 50px;
    margin: 50px;
}

header p{
    font-size: 20px;
    line-height: 32px;
    width: 41%;
    margin: 0 auto;
}

.buttons{
    margin: px;
    justify-content: center;
}

.buttons > *{
    margin: 20px;
    line-height: 35px;
}

.download{
    color: black;
    background-color: white;
}

.browser{
    background-color: #23272A;
}

/* main */
.center{
    margin: 100px auto;
    justify-content: center;
}

.text{
    margin-top: 30px;
    flex-basis: 400px;
}

.center h2{
    font-size: 50px;
}

.center p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}

.bg{
    background-color: #F6F6F6;
}

.bot{
    text-align: center;
    background-color: #F6F6F6;
    padding: 50px;
    margin-bottom: 0;
}

.bot p{
    margin: 30px 400px;
}

.bot h3{
    font-size: 30px;
    padding-top: 50px;
}

.down{
    color: white;
    background-color: #7289DA;
    margin: 50px;
    display: inline-block;
    line-height: 35px;
}

/* footer */
footer{
    background-color: #23272A;
    padding: 200px;
    padding-bottom: 0;
}

.info{
    border-bottom: 1px solid #7289DA;
    justify-content: space-between;
}

.set{
    padding: 20px;
}

.set img{
    max-width: 20px;
}

.language{
    padding: 20px 0;
}

.social{
    color: white;
    /* max-width: 20px; */
}

.social > *{
    padding-right: 10px;
}

.col{
    margin: 0 50px;
}

.title{
    color: #7289DA;
}

.info h3{
    color: #7289DA;
    font-size: 30px;
}

.info > div{

}

ul{
    list-style: none;
    color: white;
    padding: 20px 50px;
}

li{
    line-height: 40px;
}

.buttons-foot{
    justify-content: space-between;
    padding: 50px 0;
}

.buttons-foot > .button{
    color: white;
    background-color: #7289DA;
}